@{
    ViewData["Title"] = "Detail";
}

@await Html.PartialAsync("layouts/header")

<section class="container my-5">
    <!-- Example row of columns -->
    <section class="row">
        <section class="col-md-12">
            <h1>Lorem ipsum dolor</h1>
            <hr />
            <h5 class="d-flex justify-content-between align-items-center">
                <a href="category.html">Lorem ipsum dolor</a>
                <span class="date-time">26 feb 2019</span>
            </h5>
            <article class="bg-article p-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Accusantium aliquid at atque blanditiis dignissimos ea expedita.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ab accusantium aperiam atque, commodi dicta dolorem est itaque.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Animi cumque laboriosam similique. Facilis molestias possimus temporibus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Architecto aut beatae consectetur consequuntur cumque cupiditate.</p>
            </article>
        </section>
    </section>
</section>

@await Html.PartialAsync("layouts/footer")